<!DOCTYPE html>
<html>

    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="Blog : " />

        <link rel="stylesheet" type="text/css" media="screen" href="{{site.baseurl}}/stylesheets/stylesheet.css">

        <title>{{ page.title }}</title>

    </head>

    <body>

        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
              <h1 id="project_title">{{site.name}}</h1>
              <h2 id="project_tagline"></h2>
            </header>
        </div>
    
        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer">
          <section id="main_content" class="inner">
            {{ content }}
          </section>
        </div>
    
        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
          <footer class="inner">
              <p class="weibo">
                新浪微博: <a href="http://weibo.com/ytxing">@ytxing</a>
              </p>
              <p class="twitter">
                twitter: <a href="https://twitter.com/ytxing">@ytxing</a>
              </p>

            <p class="copyright">Blog maintained by <a href="https://github.com/xingyongtao">xingyongtao</a></p>
            <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
          </footer>
        </div>

    </body>

</html>
